@import 'variables', 'mixin';

.wrap {
  .title {
    input {
      font-size: 14px;
      margin: 7px;
      border: 2px solid $blue04;
      border-radius: 4px;
      font-family: 'Noto-l';
      background: $black;
      width: 95%;

      &::placeholder {
        color: $blue;
        opacity: 0.4;
      }

      &:hover,
      &:focus {
        @include border($s: $salmon, $e: $purple);
      }
    }
  }

  .private {
    margin-left: 10px;
    width: 100px;
  }

  .tag_box {
    .input_box {
      input {
        font-size: 14px;
        margin: 7px;
        border: 2px solid $blue04;
        border-radius: 4px;
        font-family: 'Noto-l';
        background: $black;
        width: 95%;

        &::placeholder {
          color: $blue;
          opacity: 0.4;
        }

        &:hover,
        &:focus {
          @include border($s: $salmon, $e: $purple);
        }
      }
    }
  }
  .button {
    margin-left: 10px;
    cursor: pointer;

    &:hover {
    }

    .icon {
      color: white;
      fill: white;
      margin-top: 10px;
    }
  }

  .plus {
    float: inline-end;
    position: relative;
    right: 5px;
    top: 170px;
    border-radius: 7px;
  }
}
